{% extends 'layout_admin.html' %}
{% load bootstrap %}
{% load static %}
{% block title %}
<title>Add User</title>
{% endblock%}

{% block main_content %}
<section class="add_user" >
    <div class="container ">
    <div class="row">
        <div class="col-md-6 offset-md-3">

            <div class="add_user1 card p-2 shadow">
                {% include 'products/messages.html' %}
                <h1 >Add Customerr</h1>
                <h3>Please register User</h3>

                <form class="form" action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form_user | bootstrap_horizontal}}
                    <button type="submit" class="post_btnn">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

</section>

<script>
    var form_fields = document.getElementsByTagName('input')

    form_fields[1].placeholder = "Enter Username";

    form_fields[2].placeholder = "Enter Email Address";
    form_fields[3].placeholder = "Enter password";
    form_fields[4].placeholder = "Enter confirm password";



    for (var field in form_fields){
    form_fields[field].className += ' my-2'
        }


</script>


{% endblock %}