{% extends 'layout.html' %}
{% load static %}
{% block title %}
<title>Password Reset</title>
{% endblock title %}
{% block main_content %}
<div class="login-form">
    <div class="container mt-5">
        <div class="main">

          <div class="content ">
                  <h2 class="login-card-description">Reset Password</h2>
                  <form method="POST">
                    {% csrf_token %}
                      <div class="form-group">

                        <input type="email" name="email" id="email" class="form-control w-100" placeholder="Enter Email Address">
                      </div>
                      {% include 'guitars/messages.html' %}
                      <input name="login" id="login" class="login-btn" type="submit" value="Reset">
                  </form>
                  <p class="login-card-footer-text"><a  href="/login" class="text-reset">
                  <i class="fa fa-arrow-left" aria-hidden="true"></i>
                  Back to login</a>

                 </p>

          </div>
            <div class="form-img">
                    <img src="{% static 'images/forget_pw.svg' %}">

            </div>
        </div>
    </div>
</div>
{% endblock main_content %}