{% extends 'layout_admin.html' %}
{% load static %}
{% load bootstrap%}

{% block title %}
<title>Password Change admin</title>
{% endblock title %}

{% block main_content %}
 <div class="login-form">

        <div class="container">
            <div class="main">
                <div class="content1">
                    {% include 'guitars/messages.html' %}

                    <h2>Welcome!</h2>
                    <h4>Change your password</h4>
                    <form action="" method="POST">
                        {% csrf_token %}
                        {{password_change_form | bootstrap_horizontal}}

                        <a href="">
                            <button class="login-btn" type="submit">Submit</button>

                        </a>
                    </form>

                </div>

                <div class="form-img">
                    <img src="{% static 'images/password.svg' %}">

                </div>

            </div>

        </div>

    </div>

<script>
    var form_fields = document.getElementsByTagName('input')

    form_fields[1].placeholder = "Enter old password";

    form_fields[2].placeholder = "Enter new Password";
     form_fields[3].placeholder = "Enter confirm Password";



    for (var field in form_fields){
    form_fields[field].className += ' my-2'
        }


</script>

{% endblock main_content %}