{% extends 'layout_admin.html' %}
{% load static %}
{% block title %}
<title>Admin Dashboard</title>
{% endblock title %}

{% block main_content %}
<style>
    .card-body a{
    text-decoration:none;
    color:#fff;
    }

    .card-body a:hover{
    color:orange;
    }
</style>
<section class="admin_homepage">
    <div class="container ">
    <div class="row">
        <div class=" col mt-3">
            <div class="card text-white bg-primary mt-5 mb-3" style="max-width: 35rem;">
                <div class="card-header text-center">Total Products</div>
                <div class="card-body">
                    <a href="/admins/get_store">
                        <h1 class="card-title text-center">{{file}}</h1></a>

                </div>
            </div>
        </div>
        <div class="col mt-3">
            <div class="card text-white bg-info mb-3 mt-5" style="max-width: 35rem;">
                <div class="card-header text-center">Total Orders</div>
                <div class="card-body">
                    <a href="/admins/order"><h1 class="card-title text-center">{{order}}</h1>
                    </a>
                </div>
            </div>
        </div>


    </div>
    <div class="row">
        <div class="col">
            <div class="card text-white bg-danger mb-3 mt-5" style="max-width: 35rem;">
                <div class="card-header text-center">Total Contact Details</div>
                <div class="card-body">
                    <a href="/admins/get_contact"><h1 class="card-title text-center">{{contact}}</h1>
                    </a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-white bg-secondary mb-3 mt-5" style="max-width: 35rem;">
                <div class="card-header text-center">Total Admins</div>
                <div class="card-body">
                    <a href="/admins/admins"><h1 class="card-title text-center">{{admin}}</h1></a>

                </div>
            </div>
        </div>





    </div>


        <div class="row">

        <div class="col">
            <div class="card text-white bg-success mb-3 mt-5" style="max-width: 35rem;">
                <div class="card-header text-center">Total Customers</div>
                <div class="card-body">
                    <a href="/admins/users"><h1 class="card-title text-center">{{user}}</h1></a>

                </div>
            </div>
        </div>

        <div class="col">
            <div class="card text-white bg-warning mb-3 mt-5" style="max-width: 35rem;">
                <div class="card-header text-center">Total Events</div>
                <div class="card-body">
                    <a href="/admins/admins"><h1 class="card-title text-center">{{event}}</h1></a>
                </div>
            </div>
        </div>
    </div>
</div>
</section>

{% endblock main_content %}