
  <section class="footer">
    <div class="footer_main">

      <div class="left box1">
        <h1>Get well soon</h1>
        <i class="fa fa-heartbeat" aria-hidden="true"></i>
      </div>





        <div class="center1 box1">
            <h1>Categories</h1>
            <a href="#">Toggle by brands</a><br>
            <a href="#">Health care products</a><br>
            <a href="#">Skin care products</a><br>
            <a href="#"></a><br>
            <a href="#"></a><br>
            <a href="#"></a><br>




        </div>

        <div class="right box1">
            <h1>Quick Links</h1>
            <a href="/">Home</a><br>
            <a href="/about/">About Us</a><br>
            <a href="/guitars/store">Store</a><br>

            <a href="#">Brands</a><br>


        </div>
         <div class="aboutus box1">
          <h1>About Us</h1>
          <div class="about1">

            <div class="about2">
              <div>
                <i class="fa fa-envelope-o" aria-hidden="true"></i>

              </div>
              <div>
                <a href="#">CVSPharma@gmail.com</a>
              </div>
            </div>


            <div class="about2">
              <div>
                <i class="fa fa-phone" aria-hidden="true"></i>

              </div>
              <div>
                <a href="">9843949362</a>
              </div>
            </div>

            <div class="about2">
              <div>
                <i class="fa fa-map-marker" aria-hidden="true"></i>

              </div>
              <div>
                <a href="">Boudhanath, Kathmandu,Nepal</a>
              </div>
            </div>

            <div class="about2">
              <div>
                <i class="fa fa-facebook" aria-hidden="true"></i>

              </div>
              <div>
                <a href="">facebook.com/CVSshop</a>
              </div>
            </div>

            <div class="about2">
              <div>
                <i class="fa fa-instagram" aria-hidden="true"></i>

              </div>
              <div>
                <a href="">instragram/CVSshop</a>
              </div>
            </div>



            </div>
          </div>
        </div>


    <div class="maindown">
        <div class="maindown1">
            <div class="maindown2">
                <h3>
                    Copyright © 2021 CVS pharma team |All Rights Reserved


                </h3>

            </div>



        </div>


    </div>

</section>










