{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-white shadow fixed-top">

    <div class="container-fluid">
      <div class="navbar-header">
          <a class="btn " data-bs-toggle="offcanvas" href="#offcanvasExample" role="button"
             aria-controls="offcanvasExample">
          <i class="fa fa-bars" aria-hidden="true"></i>
           </a>



        <a href="/admins">
          <img class="logo" src="{% static 'images/logos.png' %}" >
        </a>
      </div>





      </div>

  </nav>
<div class="offcanvas offcanvas-start1 bg-secondary" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Admin Dashboard</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>

    <div class="offcanvas-body ">
        <ul class="list-unstyled">
            <li><a class="dropdown-item {{activate_dashboard}}" href="/admins"><i class="fa fa-tachometer" aria-hidden="true"></i>Dashboard</a></li>
            <li><a class="dropdown-item {{activate_store}}" href="/admins/get_store"><i class="fa fa-music" aria-hidden="true"></i>Product</a></li>
            <li><a class="dropdown-item {{activate_admin_contact}}" href="/admins/get_contact"><i class="fa fa-phone" aria-hidden="true"></i>Contact Details</a></li>
            <li><a class="dropdown-item {{activate_admin_order}}" href="/admins/order/"><i class="fa fa-opera" aria-hidden="true"></i>Order Details</a></li>
            <li><a class="dropdown-item {{activate_event}}" href="/guitars/get_event/"><i class="fa fa-calendar-o" aria-hidden="true"></i>Events</a></li>

         <li><a class="dropdown-item {{activate_admin}}" href="/admins/admins"><i class="fa fa-user-circle-o" aria-hidden="true"></i>Admins</a></li>
            <li><a class="dropdown-item {{activate_user}}" href="/admins/users"> <i class="fa fa-user-plus" aria-hidden="true"></i>Customers</a></li>
            <li><a class="dropdown-item {{activate_password}}" href="/password_change_admin/"><i class="fa fa-cogs" aria-hidden="true"></i>Setting</a></li>
        <li><a class="dropdown-item" href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i>Logout</a></li>


        </ul>
    </div>


</div>


