{% extends 'layout.html' %}
{% load static %}
{% load bootstrap %}
{% block title %}
<title>Store</title>
{% endblock title %}

{% block main_content %}

    <section class="about">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-controls">

            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1" style="background-image:url({% static 'images/guitar.jpg' %})" ></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2" style="background-image:url({% static 'images/guitar1.jpg' %})"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3" style="background-image:url({% static 'images/about4.jpg' %})"></button>
            </div>

          </div>




          <div class="carousel-inner">
            <div class="carousel-item active" style="background-image:url({% static 'images/guitar.jpg' %}) ;">

            </div>
            <div class="carousel-item" style="background-image:url({% static 'images/guitar1.jpg' %})">

            </div>
            <div class="carousel-item" style="background-image:url({% static 'images/about4.jpg' %})">

            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>


<!--   products-->


        <div class="store_image" style=" min-height:35vh;">

            <h1 class="storess mt-3">Health Blogs</h1>

        </div>



    <div class="productss">
        <div class="container">
            <div class="row">
                <div class="col py-3 py-sm-1">


                    <div class="row justify-content-around">
                         {% for file in files %}
                        <div class="col-md-4 ">
                            <div class=" product">


                            <div class="product-content">
                                <div class = "product-img">
                                <img src = "/{{file.file}}" alt = "product image">
                               </div>
                            </div>

                            <div class="card-body shadow">
                                <a href = "#" class = "product-name">{{file.title}}</a>
                                <div class="productp">
                                    <p><i class="fa fa-clock-o" aria-hidden="true"></i>{{file.date}}</p>
                              <p>{{file.Events}}</p>

                                </div>


                              <a href="/guitars/event_detail/{{file.id}}"><button type="button" class="btnn">
                                  DETAILS


                                  <i class="fa fa-arrow-right" aria-hidden="true"></i>

                            </button></a>
                                <div class="off-info">
                                    <h2 class = "sm-title">Events</h2>

                                </div>


                            </div>


                        </div>
                        </div>

                    {% endfor %}


                    </div>
                </div>
            </div>
        </div>
        </div>



    </section>


{% endblock main_content %}