{% extends 'layout.html' %}
{% load static %}
{% block title %}
<title>Order history User</title>
{% endblock%}
{% block main_content %}
<section class="get_store"  >
    <div class="container ">
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <div class="store  card py-2 px-2">
                <h1 class="text-left">Order history</h1>
                <div class="table-responsive">
                    <table class="table table-success table-striped table-bordered mt-3">
                    <tr class="store1">
                        <th>Order Id</th>
                        <th>Product</th>
                        <th>Brand</th>
                        <th>Quantity</th>
                        <th>Payment Status</th>
                        <th>Deliver Status</th>
                    </tr>
                    {% for file in detail %}
                    <tr class="store2" >
                        <td>{{file.orderid}} </td>
                        <td class="text-uppercase">{{file.title}} </td>
                        <td>{{file.brand}} </td>
                        <td>{{file.quantity}} </td>
                        <td class="text-uppercase" >{{file.complete}} </td>
                        <td class="text-uppercase">{{file.status}}</td>
                    </tr>
                    {% endfor %}
                </table>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
{% endblock %}
